<div ng-controller="cartController">

    <div
    style="display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #f1f1f1;"
    >
        <div class="card" ng-repeat="card in currentUser2.cart track by $index" style="min-width: 270px;max-width: 270px;margin: 10px;">
           
            <img class="card-img-top" style="object-fit: contain;height: 190px;" src={{card.image}} alt="loading...">
            <div class="card-body">
              <h5 class="card-title">{{card.title}}</h5>
              <p class="card-text">Rs. {{(card.price)|number:0}}</p>
              <p class="card-text">{{trimString(card.description)}}</p>
              <p style="font-weight:bolder;" class="card-text">Quantity:{{card.quantity}}</p>
              <button ng-click="removeItem(card)" class="btn btn-warning">Remove</button>
            </div>
          </div>
          
    </div>

    <div class="card">
        <div class="card-header">
          My-Order
        </div>
        <div class="card-body">
        
          <p class="card-text">Total Items: {{quantity}}</p>
          <h5 class="card-title">Total price : Rs. {{totalAmount}}</h5>
          
          <button ui-sref="editAddress" class="btn btn-warning">Buy</button>
        </div>
      </div>
</div>
