<div class="external" ng-controller="editUserController" >
    <div class="centerDiv">
        <div class="container">
            <div class="heading">
                <h1 id="title" class="mainHeading">
                    Update
                </h3>
            </div>
            <div class="form">
                <form name="editUserForm" novalidate>
                    
                    <div style="width:100%;padding-left: 10px; height: 57px;margin: 5px;" id="nameField">
                        <div class="inputField">
                            <i class="fa fa-user fa-lg " id="nameFieldIcon" ></i>
                         <!-- {{cur}} -->
                            <input name="name"  class="input" type="text" id="name"  ng-model="editUser.name"  ng-required="true" placeholder="Name">
                            
                           
                        </div>
                       
                        <label ng-style="d1" ng-show="editUser.name.$dirty && editUser.name.$error.required"  id="1">Please fill this field</label>
                    </div>
                    <div style="width:100%;padding-left: 10px; height: 57px; margin: 5px;">
                        <div class="inputField">
                            <i class="fa fa-envelope" ></i>
                            <input name="email" class="input" type="email" id="email" placeholder="EmailId" ng-model="editUser.email"  ng-required="true">
                            
                        </div>
                        <label ng-style="d2" ng-show="editUser.email.$dirty && (editUser.email.$error.email || editUser.email.$error.required) " id="2">Please enter correct email</label>
                    </div>
                    <div style="width:100%;padding-left: 10px; height: 57px; margin: 5px;">
                        <div class="inputField">
                            <i class="fa fa-phone" ></i>
                            <input name="number" ng-pattern="/^[5-9]{1}[0-9]{9}$/" class="input" type="number" id="number"  placeholder="Number" ng-model="editUser.number" ng-required="true">
                            
                        </div>
                        <label ng-style="d3" ng-show="editUser.number.$dirty && editUser.number.$invalid" id="3">Please enter 10 digit number</label>
                    </div>
                    

                    <div class="buttons">
                        
                        <div>
                            {{!editUserForm.$dirty}}
                            <button ng-disabled="editUserForm.$invalid || !editUserForm.$dirty " ng-click="submitHandler($event)" class="active" id="signUp" type="submit">Update</button>
                        </div>
                        
                    </div>

                </form>
            </div>
            
        </div>
        
        
    </div>
</div>