.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 93vh;
}
label{
    color: grey !important;
}
.form__editUser{
    background-color: #f1f1f1;
    width: 100%;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}